@import "tailwindcss";

/* Tailwind breakpoints
----------------------------
  sm    	640px   	  sm:
  md	    768px	      md:
  lg	    1024px    	lg:
  xl    	1280px	    xl:
  2xl	    1536px	    2xl: */

// Планшеты	768px – 1023px	iPad, Android tablets	@media (max-width: 1023px) или min: 768px

// Малые телефоны	320px – 480px	старые смартфоны, SE и т.п.	@media (max-width: 480px)
// Обычные телефоны	481px – 767px	современные телефоны	@media (max-width: 767px)

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.titled-section {
  position: relative;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 2.25rem;
    background-color: #6a4f40;
    border-radius: 9999px;
  }
}
.mantine-ScrollArea-thumb {
  background: #e2d4bb !important;
}

.mantine-ScrollArea-thumb:hover {
  background: #d0c4a8 !important;
}

.linkUnderline {
  --link-color:        #000;
  --link-hover:        #eab308;
  --underline-height:  2px;
  --underline-offset:  0px;
  --underline-duration: .25s;

  position: relative;
  display: inline-block;
  color: var(--link-color);
  text-decoration: none;
  transition: color var(--underline-duration) ease;
  padding-bottom: 1px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: var(--underline-offset);
    width: 100%;
    height: var(--underline-height);
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform var(--underline-duration) ease;
    will-change: transform;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover,
    &:focus-visible {
      color: var(--link-hover);
      &::after { transform: scaleX(1); }
    }
  }

  @media (hover: none), (pointer: coarse) {
    &:active {
      color: var(--link-hover);
      &::after { transform: scaleX(1); }
    }
    &:focus {
      color: var(--link-color);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .linkUnderline, .linkUnderline::after { transition: none !important; }
}
