@import "tailwindcss";

$mobileWidth: 640px;
$smallMobileWidth: 320px;

.search-button {
  display: none;
}
.search,
.search-icon {
  display: block;
}

@media (max-width: $mobileWidth) {
  .search-button {
    display: block;
  }
  .genres-container button:last-child {
    display: none;
  }
  .search,
  .search-icon {
    display: none;
  }
  .genres-buttons {
    width: 85px;
    font-size: 10px;
  }
}
