@import "tailwindcss";

$tabletWidth: 1024px;
$smallTabletWidth: 640px;

.Logo {
  font-size: 30px;
}
@media only screen and (max-width: $tabletWidth) {
  .Logo {
    font-size: 24px;
  }
  .search {
    border-radius: 20px;
  }
  .nav-list {
    display: none;
  }
  .desktop-raiting {
    display: none;
  }
  .tabs {
    display: none;
  }
}
@media only screen and (min-width: $tabletWidth) {
  .tablet-raiting {
    display: none;
  }
}
